<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN' 'http://java.sun.com/j2ee/dtds/web-app_2.2.dtd'>

<web-app>
  <display-name>EmulatorWAR</display-name>
  <description>External Supplier Emulator</description>
  <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Emulator</servlet-name>
    <display-name>Emulator</display-name>
    <servlet-class>com.sun.ecperf.supplier.emulator.EmulatorServlet</servlet-class>
    <init-param>
      <param-name>debuglevel</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>supplier.host</param-name>
      <param-value><ECPERF_HOST></param-value>
    </init-param>
    <init-param>
      <param-name>supplier.port</param-name>
      <param-value><ECPERF_PORT></param-value>
    </init-param>
    <init-param>
      <param-name>supplier.servlet</param-name>
      <param-value>_ECPERF_PREFIX_Supplier/DeliveryServlet</param-value>
    </init-param>
    <init-param>
      <param-name>deliveryDTD.location</param-name>
      <param-value>http://<EMULATOR_HOST>:<EMULATOR_PORT>_EMULATOR_PREFIX_Emulator/dtd/delivery.dtd</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emulator</servlet-name>
    <url-pattern>/EmulatorServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>
