/// ====================================================================== ///
//                                                                          //
//  JBoss Security Policy                                                   //
//                                                                          //
/// ====================================================================== ///

// $Id: server.policy,v 1.1.1.1 2002/11/17 12:11:59 emrek Exp $

grant {
   // Allow everything for now
   permission java.security.AllPermission;
};
